.footer-logos img {
  max-width: 3rem;
}

.footer-logos span:hover {
  cursor: pointer;
  transition: filter 0.2s ease;
  filter: contrast(20%);
}

.footer-logos {
  padding: 0px;
  padding-top: 1rem
}

.footer {
  display: flex;
  justify-content: center;
}

