.homepage-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15rem;
}

.standard-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link:hover {
    cursor: pointer;
    color: grey;
}

.link-item {
    color: black !important
}

.link-item:hover {
    color: grey !important
}

.active {
    color: grey !important
}

.active:hover {
    cursor: default
}